body{
    background-color: rgb(64, 64, 249);
}
h1{
    color: white;
    font: normal 60px times;
    text-align: center;
}
section{
background-color: white;
border-radius: 18px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.341);
}
footer{
    color: white;
    text-align: center;
    font: italic 10px arial;
}
img{
    padding: 10px;
    text-align:center;
}